.skills
    &__title
        font-size: 2.6rem
        display: inline-block
        padding: 2rem 2rem 1rem 0
        margin: 0 0 7rem 2rem
        border-bottom: 3px solid #f3a109
        border-radius: 2px
        @include respond(phoneL)
            margin: 2rem 0 5rem 0
            display: block
            text-align: center
            margin-left: 0
            padding: 0 0 1rem 0
            font-size: 2.6rem
            border-bottom: 1px solid #79797d
        &:hover span
            animation: smoke .5s linear forwards
        span:nth-child(1)
            animation-delay: 2s
        span:nth-child(2)
            animation-delay: 1.2s
        span:nth-child(3)
            animation-delay: 1s
        span:nth-child(4)
            animation-delay: .8s
        span:nth-child(5)
            animation-delay: .6s
        span:nth-child(6)
            animation-delay: .4s
        span:nth-child(7)
            animation-delay: .1s
    &__list
        display: flex
        justify-content: center
        align-items: center
        gap: 3rem
        flex-wrap: wrap
        margin-bottom: 20rem
        padding: .3rem
        @include respond(tab-land)
            margin-bottom: 10rem
        @include respond(phoneL)
            margin-bottom: 3rem
            gap: 2rem
            justify-content: start
        img
            width: 7rem
            height: 7rem
            object-fit: contain
            @include respond(phoneL)
                width: 6rem
                height: 6rem
            @include respond(big-screen)
                width: 10rem
                height: 10rem
